Select Profile:
<select #profileName name="profile" (change)="onChangeProfile()">
    <option *ngFor="let name of profileNames" value="{{name}}">{{name}}</option>
</select>
<input type="button" value="generate Patients with Profile" (click)="generatePatients(name, amount)">