<main>
	<div class="page-header text-center">
		<h1>DKTK-Testdatengenerator</h1>
		<p>A place for generating CentraXX Data</p> 
	</div>
	<div class="container">
		<div class="row" style="text-align: left">
			<div class="col-md-4">
				Amount Patients: <input type="text" [(ngModel)]="generateAmount"> 
			</div>
			<div class="col-md-6">
				<profile-selection (onProfileChange)="handleProfileChange($event)" [generateAmount]="generateAmount"></profile-selection>
			</div>
			<div class="col-md-2">
				<input type="button" value="generate Patients with current Data" (click)="generatePatients()">
			</div>
		</div>
		<data-section *ngFor="let section of sections" [section]="section" [properties]="propertiesForSection(section)" (onProfileChange)="properties = propertiesForSection(section)" (onPropertyValueChanges)="handlePropertyValueChange($event)"></data-section>
		<profile-safer [profile]="profile" (onProfileSafe)="handleProfileSafe()"></profile-safer>
	</div>
</main>
